
.grid__component {
  margin-top: 20px;
  background-color: black;
  border:none;
  border-collapse: collapse;
}

.grid__component td {
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
}

.hide__element {
  display: none;
}

.selectors td {
  padding: 10px;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.active {
  border: 2px solid yellow;
}